body {
  overflow: hidden;
}

.LOUIE_page {
  overflow: hidden;
}

.LOUIE_hover {
  background: red;
}

.LOUIE_cursor {
  -webkit-transform: translate(-50%, -50%);
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1000;
}

.LOUIE_cursor svg {
  width: 100px;
  height: 100px;
}

.LOUIE_cursor circle {
  fill: black;
  opacity: 0.3;
}
